# Vagrant
.vagrant/
*.log

# K3s sensitive files
k3s.yaml
node-token
server_key.pub
argocd-password.txt
QUICKSTART.md
*.kubeconfig

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
*.swp
*.swo
*~
kubectl
# Python
__pycache__/
*.pyc
*.pyo
.github
